 body{
    justify-content: center;
    background-color: rgba(170, 64, 179, 0.64);
 }
#contact{
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 120px;
    width: 400px;
    height: 200px;
    padding: 30px;
    border-color: white;
    box-shadow: 10px 10px 10px white;
    border-radius: 10px;
    background-color: white;

}
#details{
     margin-left: 25px;
}
#imageinserted{
   margin: 50px 50px ;
}
.images{
    height: 45px;
    width: 60px;
    margin-left: 25px;
}
#movement{
    margin-left: 600px;
    margin-top: 25px;
    font-size: xx-large;
    color: aliceblue;
    height: 35px;
    width: 450px;
    border-radius: 5px;
}